.nav-bar li {
	display: inline-block;
}

.nav-bar a { 
	display: block; 
	padding: 10px;
	/*border: ;*/
}
.nav-bar a:hover { 
	background-color: white; 
}

.nav-bar .active {
	background-color: white;
}

a { 
	color: black;
	text-decoration: none;
}

a:hover { 
	color: blue;
}

.contact {
	border: 1px black solid;
	padding: 10px;
}